<footer class="page-footer font-small pt-1" id="footer-style">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">TecnoAgora</h5>
        <p><%= strings['footer']['footer_descripcio'][lang] %></p>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><%= strings['footer']['enllaç_rapid'][lang] %></h5>
        <ul class="list-unstyled">
          <li><a href="/explora"><%= strings['menu']['explora'][lang] %></a></li>
          <li><a href="/profile"><%= strings['menu']['perfil'][lang] %></a></li>
          <li><a href="/afegirEntrada"><%= strings['menu']['afegir'][lang] %></a></li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><%= strings['footer']['informacio'][lang] %></h5>
        <ul class="list-unstyled">
          <li><a href="/faqs"><%= strings['footer']['faqs'][lang] %></a></li>
          <li><a href="/contact"><%= strings['footer']['contacte'][lang] %></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://tecnoagora.com/"> TecnoAgora</a>
  </div>
</footer>
