<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head') -%>
  <script type="text/javascript" src="/src/js/loginUtilities.js"></script>
  <link rel="stylesheet" type="text/css" href="/src/css/infoProjecteStyle.css">
  <link rel="stylesheet" type="text/css" href="/src/css/generalStyle.css">
</head>
<body>

<header>
  <%if(user=='Usuari'){%>
      <%- include ('../partials/header') -%>
  <%} else {%>
      <%- include ('../partials/loggedUserHeader') -%>
  <%}%>
</header>

<main>
  <div class="jumbotron">
    <h1 class="text-center"><%- strings['exemple_markdown']['exemple_notacio'][lang] -%></h1>
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <%- strings['exemple_markdown']['heading'][lang] -%>
        </div>
        <div class="col">
          <%- render[0] -%>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <%- strings['exemple_markdown']['horizontal_lines'][lang] -%>
        </div>
        <div class="col">
          <%- render[1] -%>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <%- strings['exemple_markdown']['typographic'][lang] -%>
        </div>
        <div class="col">
          <%- render[2] -%>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <%- strings['exemple_markdown']['emphasis'][lang] -%>
        </div>
        <div class="col">
          <%- render[3] -%>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <%- strings['exemple_markdown']['blockquotes'][lang] -%>
        </div>
        <div class="col">
          <%- render[4] -%>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <%- strings['exemple_markdown']['lists'][lang] -%>
        </div>
        <div class="col">
          <%- render[5] -%>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <%- strings['exemple_markdown']['code'][lang] -%>
        </div>
        <div class="col">
          <%- render[6] -%>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <%- strings['exemple_markdown']['tables'][lang] -%>
        </div>
        <div class="col">
          <%- render[7] -%>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <%- strings['exemple_markdown']['images'][lang] -%>
        </div>
        <div class="col">
          <%- render[8] -%>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include ('../partials/footer') -%>
</body>
</html>
