<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') -%>
    <script type="text/javascript" src="/src/js/discover.js"></script>
    <script type="text/javascript" src="/src/js/loginUtilities.js"></script>
    <link rel="stylesheet" type="text/css" href="/src/css/exploraStyle.css">
    <link rel="stylesheet" type="text/css" href="/src/css/generalStyle.css">
</head>
<body>

<header>
  <%if(user=='Usuari'){%>
      <%- include ('../partials/header') -%>
  <%} else {%>
      <%- include ('../partials/loggedUserHeader') -%>
  <%}%>
</header>

<main>
  <div class="container-fluid mb-5">
    <div class="row">
      <div class="col-lg-3">
        <%if(user=='Usuari'){%>
          <div class="card shadow-sm d-none d-lg-block">
            <svg class="card-img-top mt-3" height="10rem" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 202.4 176.17771"><defs><style>.cls-1{fill:#4a91f2;}.cls-2{fill:#2136ce;}.cls-3{fill:#4bc9ef;}.cls-4{fill:#4b76ef;}.cls-5{fill:#75b1f9;}.cls-6{fill:url(#linear-gradient);}.cls-7{fill:url(#linear-gradient-2);}.cls-8{fill:url(#linear-gradient-3);}.cls-9{fill:url(#linear-gradient-4);}.cls-10{fill:url(#linear-gradient-5);}.cls-11{fill:#3569a8;}</style><linearGradient id="linear-gradient" x1="91.67762" y1="185.10205" x2="91.67762" y2="231.52731" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#4a91f2"/><stop offset="1" stop-color="#478be8"/></linearGradient><linearGradient id="linear-gradient-2" x1="121.87788" y1="185.10205" x2="121.87788" y2="231.52731" xlink:href="#linear-gradient"/><linearGradient id="linear-gradient-3" x1="162.13258" y1="185.10205" x2="162.13258" y2="231.52731" xlink:href="#linear-gradient"/><linearGradient id="linear-gradient-4" x1="209.14661" y1="185.10205" x2="209.14661" y2="231.52731" xlink:href="#linear-gradient"/><linearGradient id="linear-gradient-5" x1="253.73911" y1="185.10205" x2="253.73911" y2="231.52731" xlink:href="#linear-gradient"/></defs><path class="cls-1" d="M168.24886,115.38015,147.511,129.99878l27.75,40.25907c.63388-.158,1.26428-.33561,1.89336-.51926l-2.26445-53.32331Z" transform="translate(-78.8 -91.91114)"/><path class="cls-2" d="M230.63456,125.10371l10.4596,1.63026a28.56294,28.56294,0,0,0-7.86007-16.11085L228.635,120.77606A20.14,20.14,0,0,1,230.63456,125.10371Z" transform="translate(-78.8 -91.91114)"/><path class="cls-3" d="M241.09416,126.734l-10.4596-1.63026c2.07067,6.48473.42661,13.39587-4.84875,18.88729-1.61318,1.68731-3.22636,4.05156-1.72423,7.56884-3.09363-1.29425-6.23594-.98421-9.26209-.24143l-5.02309,11.08878a49.60011,49.60011,0,0,0,8.44057-2.2578,4.67628,4.67628,0,0,1,3.03075.21157c2.95661,1.29056,5.83387,2.76089,8.89632,4.32121l8.27225,4.152-2.40126-8.46788c-.9203-3.18944-1.77188-6.13542-2.45945-9.11852a2.79181,2.79181,0,0,1,.29092-1.78241C239.67311,142.31084,242.03255,134.33165,241.09416,126.734Z" transform="translate(-78.8 -91.91114)"/><polygon class="cls-4" points="89.449 23.469 96.09 24.504 95.854 18.954 89.449 23.469"/><polygon class="cls-4" points="68.711 38.088 89.449 23.469 54.926 18.088 68.711 38.088"/><path class="cls-2" d="M168.24886,115.38015l6.40527-4.51519-.75628-17.81064a49.00546,49.00546,0,0,0-17.60091-.62979c-10.94214,1.59263-19.78774,5.58774-26.47586,11.91009l3.90452,5.66475Z" transform="translate(-78.8 -91.91114)"/><path class="cls-1" d="M147.511,129.99878,133.7256,109.99937l-7.94933-1.239a45.18891,45.18891,0,0,0-5.95331,10.16009A42.28712,42.28712,0,0,0,118.05118,124.4c-.21688.78819-.42845,1.57617-.6664,2.35371l-.0953,9.59984.15338.7933c.53429,1.35407,1.01029,2.73983,1.4916,4.12559.482,1.387.9837,2.79137,1.52964,4.18286l3.04424,1.46338Z" transform="translate(-78.8 -91.91114)"/><path class="cls-4" d="M120.4641,145.45529c.36648.93441.76242,1.85768,1.19629,2.766l1.84795-1.30263Z" transform="translate(-78.8 -91.91114)"/><path class="cls-2" d="M121.66039,148.2213a27.3339,27.3339,0,0,0,1.59528,2.93657c1.85645,2.89843,2.18438,4.97176,1.21653,7.65341a27.55812,27.55812,0,0,0-.88328,3.221l-4.152,17.39078,9.25064-4.24718c4.83433-2.232,9.42529-4.34769,14.05858-6.34177a4.18146,4.18146,0,0,1,2.634-.08467,54.13873,54.13873,0,0,0,27.686,1.99132l-49.55777-23.82213Z" transform="translate(-78.8 -91.91114)"/><path class="cls-1" d="M192.81152,98.06555c-.8884.13334-1.78323.28-2.69044.45207a3.86857,3.86857,0,0,1-2.16332-.156,52.1156,52.1156,0,0,0-14.05991-5.30726l.75628,17.81064Z" transform="translate(-78.8 -91.91114)"/><path class="cls-4" d="M129.82108,104.33462a40.29463,40.29463,0,0,0-4.04481,4.42572l7.94933,1.239Z" transform="translate(-78.8 -91.91114)"/><path class="cls-3" d="M174.88983,116.41528l32.09,5.00161a45.137,45.137,0,0,0-8.05231-14.19069,37.06911,37.06911,0,0,1,10.07052.7616c7.96549,1.69253,13.89988,5.16226,18.14706,10.6048a22.468,22.468,0,0,1,1.48986,2.18346l4.59914-10.15294a36.07739,36.07739,0,0,0-3.06889-2.93677c-10.319-8.67739-22.54271-11.84312-37.35368-9.6208L174.65413,110.865Z" transform="translate(-78.8 -91.91114)"/><path class="cls-3" d="M147.511,129.99878l-24.00261,16.91989,49.55777,23.82213c.73409-.14766,1.46685-.30145,2.19481-.483Z" transform="translate(-78.8 -91.91114)"/><path class="cls-4" d="M206.97982,121.41689l-32.09-5.00161.92531,21.78919,29.29668,9.04418Q211.15526,134.1051,206.97982,121.41689Z" transform="translate(-78.8 -91.91114)"/><path class="cls-2" d="M210.93393,152.43248l-.7617.23806a32.90723,32.90723,0,0,1-8.69539,1.14771,51.8557,51.8557,0,0,0,3.635-6.5696l-29.29668-9.04418,1.33914,31.53412a53.69444,53.69444,0,0,0,14.12515-6.52675,4.19766,4.19766,0,0,1,2.38541-.5078,53.64941,53.64941,0,0,0,16.11156-.29685l5.02309-11.08878C213.48479,151.641,212.18983,152.03686,210.93393,152.43248Z" transform="translate(-78.8 -91.91114)"/><path class="cls-5" d="M83.50924,267.6389H78.8l9.59388-23.101h3.35938l9.69684,23.101H96.70464l-2.45758-5.95709H86.07358Zm6.58149-17.04-2.4938,7.10008h4.95328Z" transform="translate(-78.8 -91.91114)"/><path class="cls-5" d="M142.1097,259.88105h-9.66252v-3.98283h15.06575v.48427a11.02549,11.02549,0,0,1-3.61868,8.24307,12.026,12.026,0,0,1-8.60627,3.4633,12.22,12.22,0,0,1-8.79694-3.49761,11.715,11.715,0,0,1,0-16.97042,12.03356,12.03356,0,0,1,8.69208-3.53288,12.39714,12.39714,0,0,1,6.8751,2.07816,10.11283,10.11283,0,0,1,4.27645,5.16015h-5.09056a6.94729,6.94729,0,0,0-6.16395-3.25548,7.59615,7.59615,0,0,0-5.62821,2.33746,7.8509,7.8509,0,0,0-2.30314,5.73212,7.617,7.617,0,0,0,2.33746,5.67968,7.966,7.966,0,0,0,5.80171,2.286,7.51073,7.51073,0,0,0,4.03431-1.12583A7.39169,7.39169,0,0,0,142.1097,259.88105Z" transform="translate(-78.8 -91.91114)"/><path class="cls-5" d="M183.18684,268.08886a11.68109,11.68109,0,0,1-8.5548-3.51477,11.93565,11.93565,0,0,1,0-16.95326A12.06151,12.06151,0,0,1,195.2402,256.106a11.515,11.515,0,0,1-3.53288,8.46805A11.644,11.644,0,0,1,183.18684,268.08886Zm0-20.01808a7.39869,7.39869,0,0,0-5.50619,2.35462,8.15734,8.15734,0,0,0,0,11.326,7.63458,7.63458,0,0,0,11.01237.01716,8.17863,8.17863,0,0,0,0-11.34316A7.39866,7.39866,0,0,0,183.18684,248.07078Z" transform="translate(-78.8 -91.91114)"/><path class="cls-5" d="M224.19343,267.6389h-4.29551v-23.101h7.06577q4.53573,0,6.65013,2.52812a7.07227,7.07227,0,0,1,1.69685,4.64155,7.7116,7.7116,0,0,1-1.45472,4.6406,7.61853,7.61853,0,0,1-4.572,2.77121l6.23449,8.51952h-5.16109l-6.164-8.83125Zm0-19.11817v7.06577h2.73594a4.45635,4.45635,0,0,0,3.01239-.9571,3.28622,3.28622,0,0,0,1.10771-2.62822,3.14145,3.14145,0,0,0-1.12487-2.54051,4.5241,4.5241,0,0,0-2.99523-.93994Z" transform="translate(-78.8 -91.91114)"/><path class="cls-5" d="M263.25914,267.6389H258.5499l9.59388-23.101h3.35938L281.2,267.6389h-4.74546l-2.45758-5.95709h-8.17348Zm6.58149-17.04-2.4938,7.10008h4.95328Z" transform="translate(-78.8 -91.91114)"/><path class="cls-6" d="M95.97782,235.06981H87.44649V196.79074h-8.598v-7.9752h25.65831v7.9752h-8.529Z" transform="translate(-78.8 -91.91114)"/><path class="cls-7" d="M134.326,235.06981H109.4298V188.81554H134.326v7.9752H118.02782v11.37154h15.60267v7.97521H118.02782v10.95592H134.326Z" transform="translate(-78.8 -91.91114)"/><path class="cls-8" d="M163.24246,227.9949q6.0984,0,11.57994-5.75544h9.91512a21.36493,21.36493,0,0,1-8.45988,9.95084,23.40171,23.40171,0,0,1-12.897,3.7798,24.02825,24.02825,0,0,1-.20959-48.056,23.56618,23.56618,0,0,1,17.33657,7.35,21.61136,21.61136,0,0,1,4.5086,6.79625h-9.70791a17.13434,17.13434,0,0,0-6.20677-4.81942,16.03276,16.03276,0,0,0-6.20677-1.35163,14.01433,14.01433,0,0,0-10.57485,4.78369,16.29478,16.29478,0,0,0,.10479,22.53825A14.48412,14.48412,0,0,0,163.24246,227.9949Z" transform="translate(-78.8 -91.91114)"/><path class="cls-9" d="M198.95165,235.06981h-8.598V188.81554h9.777l19.2086,33.63232V188.81554h8.60041v46.25427h-9.56977l-19.41819-33.56444Z" transform="translate(-78.8 -91.91114)"/><path class="cls-10" d="M275.89567,235.16932l-15.60718-2.74742a22.76338,22.76338,0,0,1-6.5222.93924,21.74382,21.74382,0,0,1-15.85277-6.51752,22.17458,22.17458,0,0,1-.00562-31.47588,22.37241,22.37241,0,0,1,36.05867,25.37736Zm-16.11335-9.65864,8.23571,1.44917-.99923-7.48394.54367-.97487a15.62549,15.62549,0,0,0-2.739-18.40521,15.67579,15.67579,0,0,0-26.74685,11.01969,14.79306,14.79306,0,0,0,4.57623,10.96533,15.04821,15.04821,0,0,0,11.11343,4.56124,15.93609,15.93609,0,0,0,5.19489-.84926Z" transform="translate(-78.8 -91.91114)"/><rect class="cls-11" x="8.64643" y="119.4302" width="8.53144" height="23.72839"/><polygon class="cls-11" points="39.228 124.226 54.83 124.226 54.83 119.43 30.63 119.43 30.63 143.159 55.526 143.159 55.526 135.182 39.228 135.182 39.228 124.226"/><path class="cls-11" d="M163.24241,227.99491a14.48427,14.48427,0,0,1-10.81779-4.78371,15.80173,15.80173,0,0,1-4.57756-11.30372c0-.19185.01906-.37655.025-.56613h-8.60353c-.00227.14394-.01955.282-.01955.42683a24.07779,24.07779,0,0,0,37.02865,20.42215,21.36545,21.36545,0,0,0,8.45983-9.95089h-9.915Q169.34208,227.9967,163.24241,227.99491Z" transform="translate(-78.8 -91.91114)"/><rect class="cls-11" x="111.55365" y="119.4302" width="8.59805" height="23.72839"/><polygon class="cls-11" points="140.539 119.43 140.539 130.537 134.196 119.43 125.842 119.43 139.57 143.159 149.14 143.159 149.14 119.43 140.539 119.43"/><path class="cls-11" d="M276.10861,211.34135h-6.71972a14.72954,14.72954,0,0,1-1.82638,7.15966l-.54373.97485.99929,7.484-8.23581-1.44923-.82114.28217a15.93464,15.93464,0,0,1-5.19481.84926,15.0485,15.0485,0,0,1-11.11343-4.56124,14.77132,14.77132,0,0,1-4.56624-10.73949H231.368a21.45815,21.45815,0,0,0,6.54551,15.50223,21.74367,21.74367,0,0,0,15.85281,6.5175,22.76372,22.76372,0,0,0,6.52215-.93922l15.60721,2.74737-1.92909-14.42418A21.72487,21.72487,0,0,0,276.10861,211.34135Z" transform="translate(-78.8 -91.91114)"/></svg>
            <div class="card-body">
              <h5 class="card-title"><%= strings['explora']['no_iniciat_sessio'][lang] %></h5>
              <p class="card-text"><%= strings['explora']['encara_no_membre'][lang] %></p>
              <a href="/unirse" class="btn btn-primary"><%= strings['general']['uneixte'][lang] %></a>
            </div>
          </div>
          <div class="card shadow-sm d-lg-none d-block mb-4">
            <div class="row">
              <div class="col-5 col-sm-6 my-3">
                <svg class="card-img ml-3" height="10rem" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 202.4 176.17771"><defs><style>.cls-1{fill:#4a91f2;}.cls-2{fill:#2136ce;}.cls-3{fill:#4bc9ef;}.cls-4{fill:#4b76ef;}.cls-5{fill:#75b1f9;}.cls-6{fill:url(#linear-gradient);}.cls-7{fill:url(#linear-gradient-2);}.cls-8{fill:url(#linear-gradient-3);}.cls-9{fill:url(#linear-gradient-4);}.cls-10{fill:url(#linear-gradient-5);}.cls-11{fill:#3569a8;}</style><linearGradient id="linear-gradient" x1="91.67762" y1="185.10205" x2="91.67762" y2="231.52731" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#4a91f2"/><stop offset="1" stop-color="#478be8"/></linearGradient><linearGradient id="linear-gradient-2" x1="121.87788" y1="185.10205" x2="121.87788" y2="231.52731" xlink:href="#linear-gradient"/><linearGradient id="linear-gradient-3" x1="162.13258" y1="185.10205" x2="162.13258" y2="231.52731" xlink:href="#linear-gradient"/><linearGradient id="linear-gradient-4" x1="209.14661" y1="185.10205" x2="209.14661" y2="231.52731" xlink:href="#linear-gradient"/><linearGradient id="linear-gradient-5" x1="253.73911" y1="185.10205" x2="253.73911" y2="231.52731" xlink:href="#linear-gradient"/></defs><path class="cls-1" d="M168.24886,115.38015,147.511,129.99878l27.75,40.25907c.63388-.158,1.26428-.33561,1.89336-.51926l-2.26445-53.32331Z" transform="translate(-78.8 -91.91114)"/><path class="cls-2" d="M230.63456,125.10371l10.4596,1.63026a28.56294,28.56294,0,0,0-7.86007-16.11085L228.635,120.77606A20.14,20.14,0,0,1,230.63456,125.10371Z" transform="translate(-78.8 -91.91114)"/><path class="cls-3" d="M241.09416,126.734l-10.4596-1.63026c2.07067,6.48473.42661,13.39587-4.84875,18.88729-1.61318,1.68731-3.22636,4.05156-1.72423,7.56884-3.09363-1.29425-6.23594-.98421-9.26209-.24143l-5.02309,11.08878a49.60011,49.60011,0,0,0,8.44057-2.2578,4.67628,4.67628,0,0,1,3.03075.21157c2.95661,1.29056,5.83387,2.76089,8.89632,4.32121l8.27225,4.152-2.40126-8.46788c-.9203-3.18944-1.77188-6.13542-2.45945-9.11852a2.79181,2.79181,0,0,1,.29092-1.78241C239.67311,142.31084,242.03255,134.33165,241.09416,126.734Z" transform="translate(-78.8 -91.91114)"/><polygon class="cls-4" points="89.449 23.469 96.09 24.504 95.854 18.954 89.449 23.469"/><polygon class="cls-4" points="68.711 38.088 89.449 23.469 54.926 18.088 68.711 38.088"/><path class="cls-2" d="M168.24886,115.38015l6.40527-4.51519-.75628-17.81064a49.00546,49.00546,0,0,0-17.60091-.62979c-10.94214,1.59263-19.78774,5.58774-26.47586,11.91009l3.90452,5.66475Z" transform="translate(-78.8 -91.91114)"/><path class="cls-1" d="M147.511,129.99878,133.7256,109.99937l-7.94933-1.239a45.18891,45.18891,0,0,0-5.95331,10.16009A42.28712,42.28712,0,0,0,118.05118,124.4c-.21688.78819-.42845,1.57617-.6664,2.35371l-.0953,9.59984.15338.7933c.53429,1.35407,1.01029,2.73983,1.4916,4.12559.482,1.387.9837,2.79137,1.52964,4.18286l3.04424,1.46338Z" transform="translate(-78.8 -91.91114)"/><path class="cls-4" d="M120.4641,145.45529c.36648.93441.76242,1.85768,1.19629,2.766l1.84795-1.30263Z" transform="translate(-78.8 -91.91114)"/><path class="cls-2" d="M121.66039,148.2213a27.3339,27.3339,0,0,0,1.59528,2.93657c1.85645,2.89843,2.18438,4.97176,1.21653,7.65341a27.55812,27.55812,0,0,0-.88328,3.221l-4.152,17.39078,9.25064-4.24718c4.83433-2.232,9.42529-4.34769,14.05858-6.34177a4.18146,4.18146,0,0,1,2.634-.08467,54.13873,54.13873,0,0,0,27.686,1.99132l-49.55777-23.82213Z" transform="translate(-78.8 -91.91114)"/><path class="cls-1" d="M192.81152,98.06555c-.8884.13334-1.78323.28-2.69044.45207a3.86857,3.86857,0,0,1-2.16332-.156,52.1156,52.1156,0,0,0-14.05991-5.30726l.75628,17.81064Z" transform="translate(-78.8 -91.91114)"/><path class="cls-4" d="M129.82108,104.33462a40.29463,40.29463,0,0,0-4.04481,4.42572l7.94933,1.239Z" transform="translate(-78.8 -91.91114)"/><path class="cls-3" d="M174.88983,116.41528l32.09,5.00161a45.137,45.137,0,0,0-8.05231-14.19069,37.06911,37.06911,0,0,1,10.07052.7616c7.96549,1.69253,13.89988,5.16226,18.14706,10.6048a22.468,22.468,0,0,1,1.48986,2.18346l4.59914-10.15294a36.07739,36.07739,0,0,0-3.06889-2.93677c-10.319-8.67739-22.54271-11.84312-37.35368-9.6208L174.65413,110.865Z" transform="translate(-78.8 -91.91114)"/><path class="cls-3" d="M147.511,129.99878l-24.00261,16.91989,49.55777,23.82213c.73409-.14766,1.46685-.30145,2.19481-.483Z" transform="translate(-78.8 -91.91114)"/><path class="cls-4" d="M206.97982,121.41689l-32.09-5.00161.92531,21.78919,29.29668,9.04418Q211.15526,134.1051,206.97982,121.41689Z" transform="translate(-78.8 -91.91114)"/><path class="cls-2" d="M210.93393,152.43248l-.7617.23806a32.90723,32.90723,0,0,1-8.69539,1.14771,51.8557,51.8557,0,0,0,3.635-6.5696l-29.29668-9.04418,1.33914,31.53412a53.69444,53.69444,0,0,0,14.12515-6.52675,4.19766,4.19766,0,0,1,2.38541-.5078,53.64941,53.64941,0,0,0,16.11156-.29685l5.02309-11.08878C213.48479,151.641,212.18983,152.03686,210.93393,152.43248Z" transform="translate(-78.8 -91.91114)"/><path class="cls-5" d="M83.50924,267.6389H78.8l9.59388-23.101h3.35938l9.69684,23.101H96.70464l-2.45758-5.95709H86.07358Zm6.58149-17.04-2.4938,7.10008h4.95328Z" transform="translate(-78.8 -91.91114)"/><path class="cls-5" d="M142.1097,259.88105h-9.66252v-3.98283h15.06575v.48427a11.02549,11.02549,0,0,1-3.61868,8.24307,12.026,12.026,0,0,1-8.60627,3.4633,12.22,12.22,0,0,1-8.79694-3.49761,11.715,11.715,0,0,1,0-16.97042,12.03356,12.03356,0,0,1,8.69208-3.53288,12.39714,12.39714,0,0,1,6.8751,2.07816,10.11283,10.11283,0,0,1,4.27645,5.16015h-5.09056a6.94729,6.94729,0,0,0-6.16395-3.25548,7.59615,7.59615,0,0,0-5.62821,2.33746,7.8509,7.8509,0,0,0-2.30314,5.73212,7.617,7.617,0,0,0,2.33746,5.67968,7.966,7.966,0,0,0,5.80171,2.286,7.51073,7.51073,0,0,0,4.03431-1.12583A7.39169,7.39169,0,0,0,142.1097,259.88105Z" transform="translate(-78.8 -91.91114)"/><path class="cls-5" d="M183.18684,268.08886a11.68109,11.68109,0,0,1-8.5548-3.51477,11.93565,11.93565,0,0,1,0-16.95326A12.06151,12.06151,0,0,1,195.2402,256.106a11.515,11.515,0,0,1-3.53288,8.46805A11.644,11.644,0,0,1,183.18684,268.08886Zm0-20.01808a7.39869,7.39869,0,0,0-5.50619,2.35462,8.15734,8.15734,0,0,0,0,11.326,7.63458,7.63458,0,0,0,11.01237.01716,8.17863,8.17863,0,0,0,0-11.34316A7.39866,7.39866,0,0,0,183.18684,248.07078Z" transform="translate(-78.8 -91.91114)"/><path class="cls-5" d="M224.19343,267.6389h-4.29551v-23.101h7.06577q4.53573,0,6.65013,2.52812a7.07227,7.07227,0,0,1,1.69685,4.64155,7.7116,7.7116,0,0,1-1.45472,4.6406,7.61853,7.61853,0,0,1-4.572,2.77121l6.23449,8.51952h-5.16109l-6.164-8.83125Zm0-19.11817v7.06577h2.73594a4.45635,4.45635,0,0,0,3.01239-.9571,3.28622,3.28622,0,0,0,1.10771-2.62822,3.14145,3.14145,0,0,0-1.12487-2.54051,4.5241,4.5241,0,0,0-2.99523-.93994Z" transform="translate(-78.8 -91.91114)"/><path class="cls-5" d="M263.25914,267.6389H258.5499l9.59388-23.101h3.35938L281.2,267.6389h-4.74546l-2.45758-5.95709h-8.17348Zm6.58149-17.04-2.4938,7.10008h4.95328Z" transform="translate(-78.8 -91.91114)"/><path class="cls-6" d="M95.97782,235.06981H87.44649V196.79074h-8.598v-7.9752h25.65831v7.9752h-8.529Z" transform="translate(-78.8 -91.91114)"/><path class="cls-7" d="M134.326,235.06981H109.4298V188.81554H134.326v7.9752H118.02782v11.37154h15.60267v7.97521H118.02782v10.95592H134.326Z" transform="translate(-78.8 -91.91114)"/><path class="cls-8" d="M163.24246,227.9949q6.0984,0,11.57994-5.75544h9.91512a21.36493,21.36493,0,0,1-8.45988,9.95084,23.40171,23.40171,0,0,1-12.897,3.7798,24.02825,24.02825,0,0,1-.20959-48.056,23.56618,23.56618,0,0,1,17.33657,7.35,21.61136,21.61136,0,0,1,4.5086,6.79625h-9.70791a17.13434,17.13434,0,0,0-6.20677-4.81942,16.03276,16.03276,0,0,0-6.20677-1.35163,14.01433,14.01433,0,0,0-10.57485,4.78369,16.29478,16.29478,0,0,0,.10479,22.53825A14.48412,14.48412,0,0,0,163.24246,227.9949Z" transform="translate(-78.8 -91.91114)"/><path class="cls-9" d="M198.95165,235.06981h-8.598V188.81554h9.777l19.2086,33.63232V188.81554h8.60041v46.25427h-9.56977l-19.41819-33.56444Z" transform="translate(-78.8 -91.91114)"/><path class="cls-10" d="M275.89567,235.16932l-15.60718-2.74742a22.76338,22.76338,0,0,1-6.5222.93924,21.74382,21.74382,0,0,1-15.85277-6.51752,22.17458,22.17458,0,0,1-.00562-31.47588,22.37241,22.37241,0,0,1,36.05867,25.37736Zm-16.11335-9.65864,8.23571,1.44917-.99923-7.48394.54367-.97487a15.62549,15.62549,0,0,0-2.739-18.40521,15.67579,15.67579,0,0,0-26.74685,11.01969,14.79306,14.79306,0,0,0,4.57623,10.96533,15.04821,15.04821,0,0,0,11.11343,4.56124,15.93609,15.93609,0,0,0,5.19489-.84926Z" transform="translate(-78.8 -91.91114)"/><rect class="cls-11" x="8.64643" y="119.4302" width="8.53144" height="23.72839"/><polygon class="cls-11" points="39.228 124.226 54.83 124.226 54.83 119.43 30.63 119.43 30.63 143.159 55.526 143.159 55.526 135.182 39.228 135.182 39.228 124.226"/><path class="cls-11" d="M163.24241,227.99491a14.48427,14.48427,0,0,1-10.81779-4.78371,15.80173,15.80173,0,0,1-4.57756-11.30372c0-.19185.01906-.37655.025-.56613h-8.60353c-.00227.14394-.01955.282-.01955.42683a24.07779,24.07779,0,0,0,37.02865,20.42215,21.36545,21.36545,0,0,0,8.45983-9.95089h-9.915Q169.34208,227.9967,163.24241,227.99491Z" transform="translate(-78.8 -91.91114)"/><rect class="cls-11" x="111.55365" y="119.4302" width="8.59805" height="23.72839"/><polygon class="cls-11" points="140.539 119.43 140.539 130.537 134.196 119.43 125.842 119.43 139.57 143.159 149.14 143.159 149.14 119.43 140.539 119.43"/><path class="cls-11" d="M276.10861,211.34135h-6.71972a14.72954,14.72954,0,0,1-1.82638,7.15966l-.54373.97485.99929,7.484-8.23581-1.44923-.82114.28217a15.93464,15.93464,0,0,1-5.19481.84926,15.0485,15.0485,0,0,1-11.11343-4.56124,14.77132,14.77132,0,0,1-4.56624-10.73949H231.368a21.45815,21.45815,0,0,0,6.54551,15.50223,21.74367,21.74367,0,0,0,15.85281,6.5175,22.76372,22.76372,0,0,0,6.52215-.93922l15.60721,2.74737-1.92909-14.42418A21.72487,21.72487,0,0,0,276.10861,211.34135Z" transform="translate(-78.8 -91.91114)"/></svg>
              </div>
              <div class="col-7 col-sm-6">
                <div class="card-body">
                  <h5 class="card-title"><%= strings['explora']['no_iniciat_sessio'][lang] %></h5>
                  <p class="card-text"><%= strings['explora']['encara_no_membre'][lang] %></p>
                  <a href="/unirse" class="btn btn-primary"><%= strings['general']['uneixte'][lang] %></a>
                </div>
              </div>
            </div>
          </div>
        <%} else {%>
          <div class="card shadow-sm d-none d-lg-block">
            <svg class="card-img-top" id="profilePicSVGCard"></svg>
            <!--<img class="card-img-top" src="/src/imgs/test_profile.jpg" alt="Card image cap">-->
            <div class="card-body">
              <h5 class="card-title text-center"><%= user %></h5>
              <p class="text-center"><%= strings['perfil']['membre_desde'][lang] %>: <span id="memberDate">03/03/1996</span></p>
            </div>
            <div class="card-footer text-right"><span id="points">3396</span> <%= strings['general']['punts'][lang] %></div>
          </div>
        <%}%>
      </div>
      <div class="col-lg-6">
        <div class="d-flex mb-2">
          <h5><%= strings['general']['projectes'][lang] %></h5>
          <form method="get" action="/search" class="form-inline ml-auto d-block d-md-none">
            <input type="hidden" name="p" value="0">
            <div class="col-auto">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" id="inlineFormInputGroup" name="search" placeholder="<%= strings['menu']['cerca'][lang] %>">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary search-but-style" type="submit">
                    <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                      <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <% for(var i=0; i<data.length; i++) {%>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <div class="row">
              <div class="col-8 col-sm-9 col-md-10 col-lg-9">
                <h5><a href="/projects/<%= data[i].id%>"><%- data[i].title%></a></h5>
              </div>
              <div class="col-4 col-sm-3 col-md-2 col-lg-3">
                  <div class="col-auto">
                    <%if(rated.includes(data[i]._id)){%>
                    <form method="POST" class="rateForm" id="rateForm_<%= data[i]._id%>" action="/unrateProj/<%= data[i]._id%>">
                      <div class="input-group input-group-sm">
                        <div id="rateSVG_<%= data[i]._id%>" class="input-group-prepend">
                          <button class="btn btn-outline-secondary greybutton" type="submit">
                            <svg class="bi bi-star-fill" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="#ffe44d" xmlns="http://www.w3.org/2000/svg">
                              <path stroke="black" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                          </button>
                        </div>
                        <input type="text" class="form-control text-center" id="pointField_<%= data[i]._id%>" value="<%= data[i].numRates%>" readonly>
                      </div>
                    </form>
                    <%} else {%>
                      <form method="POST" class="rateForm" id="rateForm_<%= data[i]._id%>" action="/rateProj/<%= data[i]._id%>">
                        <div class="input-group input-group-sm">
                          <div id="rateSVG_<%= data[i]._id%>" class="input-group-prepend">
                            <button class="btn btn-outline-secondary greybutton" type="submit">
                              <svg class="bi bi-star-fill" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="#000000" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                              </svg>
                            </button>
                          </div>
                          <input type="text" class="form-control text-center" id="pointField_<%= data[i]._id%>" value="<%= data[i].numRates%>" readonly>
                        </div>
                      </form>
                    <%}%>
                  </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col cos">
                <div class="more"><%- data[i].descBig %></div>
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <a href="/projects/<%= data[i].id%>"><small><%= strings['explora']['saber_mes'][lang] %></small></a>
              </div>
            </div>
            <div class="row mt-3 mb-n2 pl-2">
              <div class="btn-group d-flex align-content-start flex-wrap" role="group" aria-label="First group">
                <% for(var j=0; j<data[i].tags.length; j++) {%>
                <button type="button" class="btn-sm btn-info mr-2 mb-1 py-0 tag-style"><%= data[i].tags[j]%></button>
                <% } %>
              </div>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="text-right">
                <h6><small class="text-muted"> <%= data[i].date.getDate() %>/<%= data[i].date.getMonth()+1 %>/<%= data[i].date.getFullYear() %> </small></h6>
              </div>
            </li>
          </ul>
        </div>
      <% } %>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="/explora?p=<%= page.prev %>"><%= strings['general']['anterior'][lang] %></a></li>
          <%if(page.total<=10){%>
            <% for(var j=1; j<=page.total; j++) {%>
              <%if(j == page.actual){%>
                <li class="page-item active" aria-current="page"><a class="page-link" href="/explora?p=<%= j %>"><%= j %></a></li>
              <% } else {%>
                <li class="page-item"><a class="page-link" href="/explora?p=<%= j %>"><%= j %></a></li>
              <% } %>
            <% } %>
          <% } else {%>
            <%if(page.actual<=5){%>
              <% for(var j=1; j<=5; j++) {%>
                <%if(j == page.actual){%>
                  <li class="page-item active" aria-current="page"><a class="page-link" href="/explora?p=<%= j %>"><%= j %></a></li>
                <% } else {%>
                  <li class="page-item"><a class="page-link" href="/explora?p=<%= j %>"><%= j %></a></li>
                <% } %>
              <% } %>
              <%if(page.actual==5){%>
                <li class="page-item"><a class="page-link" href="/explora?p=6"><%= 6 %></a></li>
                <li class="page-item"><a class="page-link" href="/explora?p=7"><%= 7 %></a></li>
              <% } %>
            <% } else if(page.actual>=7 && (page.total-page.actual)>5){%>
              <li class="page-item"><a class="page-link" href="/explora?p=1">1</a></li>
              <li class="page-item"><a class="page-link" href="/explora?p=2">2</a></li>
              <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a></li>
              <% for(var j=page.actual-2; j<=page.actual+2; j++) {%>
                <%if(j == page.actual){%>
                  <li class="page-item active" aria-current="page"><a class="page-link" href="/explora?p=<%= j %>"><%= j %></a></li>
                <% } else {%>
                  <li class="page-item"><a class="page-link" href="/explora?p=<%= j %>"><%= j %></a></li>
                <% } %>
              <% } %>
              <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a></li>
              <li class="page-item"><a class="page-link" href="/explora?p=<%= page.total-1 %>"><%= page.total-1 %></a></li>
              <li class="page-item"><a class="page-link" href="/explora?p=<%= page.total %>"><%= page.total %></a></li>
            <% } else if((page.total-page.actual)<=5){%>
              <li class="page-item"><a class="page-link" href="/explora?p=1">1</a></li>
              <li class="page-item"><a class="page-link" href="/explora?p=2">2</a></li>
              <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a></li>
              <%if(page.total-(page.actual-1)==6){%>
                <li class="page-item"><a class="page-link" href="/explora?p=<%= page.actual-1 %>"><%= page.actual-1 %></a></li>
              <% } %>
              <% for(var j=page.total-5; j<=page.total; j++) {%>
                <%if(j == page.actual){%>
                  <li class="page-item active" aria-current="page"><a class="page-link" href="/explora?p=<%= j %>"><%= j %></a></li>
                <% } else {%>
                  <li class="page-item"><a class="page-link" href="/explora?p=<%= j %>"><%= j %></a></li>
                <% } %>
              <% } %>
            <% } %>
          <% } %>
          <li class="page-item"><a class="page-link" href="/explora?p=<%= page.next %>"><%= strings['general']['next'][lang] %></a></li>
        </ul>
      </nav>
      </div>
      <div class="col-lg-3" id="list-lastProjects">
        <div class="card shadow-sm">
          <div class="card-header"><%= strings['explora']['projectes_tendencia'][lang] %></div>
            <ul class="list-group list-group-flush" id="list-projectes">
            <!-- TRENDING PROJECTS -->
            </ul>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include ('../partials/footer') -%>
</body>
</html>
