<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head') -%>
  <script type="text/javascript" src="/src/js/utilitiessForgotPass.js"></script>
  <script type="text/javascript" src="/src/js/loginUtilities.js"></script>
  <link rel="stylesheet" type="text/css" href="/src/css/generalStyle.css">
</head>
<body>

<header>
  <%if(user=='Usuari'){%>
      <%- include ('../partials/header') -%>
  <%} else {%>
      <%- include ('../partials/loggedUserHeader') -%>
  <%}%>
</header>

<main>
  <div class="container text-center">
    <h1><%= strings['reset_pass']['reset_pass'][lang] %></h1>
    <div id="alertInfo"></div>
    <form id="resetForm" method="POST" action="/forgotPassword">
      <%= strings['reset_pass']['indica_correu'][lang] %>
      <input type="email" id="inputEmail" class="form-control" placeholder="<%= strings['general']['correu'][lang] %>" name="email" required autofocus>
      <button class="btn btn-primary btn-block mt-2" type="submit"><%= strings['afegir']['envia'][lang] %></button>
    </form>
  </div>
</main>
<%- include ('../partials/footer') -%>
</body>
</html>
