<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head') -%>
  <script type="text/javascript" src="/src/js/utilities.js"></script>
  <script type="text/javascript" src="/src/js/loginUtilities.js"></script>
  <link rel="stylesheet" type="text/css" href="/src/css/infoProjecteStyle.css">
  <link rel="stylesheet" type="text/css" href="/src/css/generalStyle.css">
  <%if(owner){%>
    <!--<script type="text/javascript" src="/src/js/updateProject.js"></script>-->
  <%}%>
</head>
<body>

<header>
  <%if(user=='Usuari'){%>
      <%- include ('../partials/header') -%>
  <%} else {%>
      <%- include ('../partials/loggedUserHeader') -%>
  <%}%>
</header>

<main>
  <div class="container-md mb-5" id="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-11">
        <div class="card mb-3 shadow-sm">
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h5><%- proj.title%></h5>
              </div>
              <div class="col col-md-2">
                <%if(rated){%>
                <form method="POST" id="rateForm" action="/unrateProj/<%= proj._id%>">
                  <div class="input-group input-group-sm">
                    <div id="rateSVG" class="input-group-prepend">
                      <button id="rateButton" class="btn btn-outline-secondary greybutton" type="submit">
                        <svg class="bi bi-star-fill" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="#ffe44d" xmlns="http://www.w3.org/2000/svg">
                          <path stroke="black" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                      </button>
                    </div>
                    <input class="form-control text-center" id="pointField" value="<%= proj.numRates%>" readonly>
                  </div>
                </form>
                <%} else {%>
                <form method="POST" id="rateForm" action="/rateProj/<%= proj._id%>">
                  <div class="input-group input-group-sm">
                    <div id="rateSVG" class="input-group-prepend">
                      <button id="rateButton" class="btn btn-outline-secondary greybutton" type="submit">
                        <svg class="bi bi-star-fill" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="#000000" xmlns="http://www.w3.org/2000/svg">
                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                      </button>
                    </div>
                    <input class="form-control text-center" id="pointField" value="<%= proj.numRates%>" readonly>
                  </div>
                </form>
                <%}%>
              </div>
              <div class="col col-md-2">
                <%if(saved){%>
                  <form method="POST" id="saveForm" action="/unsaveProject/<%= proj._id%>">
                    <div class="input-group input-group-sm">
                      <div id="saveSVG" class="input-group-prepend">
                        <button class="btn btn-outline-secondary greybutton" type="submit">
                          <svg class="bi bi-bookmark-dash" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zM4.5 2a.5.5 0 0 0-.5.5v11.066l4-2.667 4 2.667V8.5a.5.5 0 0 1 1 0v6.934l-5-3.333-5 3.333V2.5A1.5 1.5 0 0 1 4.5 1h4a.5.5 0 0 1 0 1h-4z"/>
                          </svg>
                        </button>
                      </div>
                      <input class="form-control text-center" id="saveField" value="<%= proj.numSaves%>" readonly>
                    </div>
                  </form>
                <%} else {%>
                  <form method="POST" id="saveForm" action="/saveProject/<%= proj._id%>">
                    <div class="input-group input-group-sm">
                      <div id="saveSVG" class="input-group-prepend">
                        <button class="btn btn-outline-secondary greybutton" type="submit">
                          <svg class="bi bi-bookmark-plus" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.5 2a.5.5 0 0 0-.5.5v11.066l4-2.667 4 2.667V8.5a.5.5 0 0 1 1 0v6.934l-5-3.333-5 3.333V2.5A1.5 1.5 0 0 1 4.5 1h4a.5.5 0 0 1 0 1h-4zm9-1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V1.5a.5.5 0 0 1 .5-.5z"/>
                            <path fill-rule="evenodd" d="M13 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                          </svg>
                        </button>
                      </div>
                      <input class="form-control text-center" id="saveField" value="<%= proj.numSaves%>" readonly>
                    </div>
                  </form>
                <%}%>
              </div>
              <div class="col-md-auto">
                <button type="button" id="gitButton" class="btn-sm btn-outline-secondary px-3 text-center greybutton but-stl" value="<%- proj.link%>">
                  <svg version="1.1" width="1.5em" height="1.5em" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="97px" height="97px" viewBox="0 0 97 97" enable-background="new 0 0 97 97" xml:space="preserve">
                      <path fill="#F05133" d="M92.71,44.408L52.591,4.291c-2.31-2.311-6.057-2.311-8.369,0l-8.33,8.332L46.459,23.19   c2.456-0.83,5.272-0.273,7.229,1.685c1.969,1.97,2.521,4.81,1.67,7.275l10.186,10.185c2.465-0.85,5.307-0.3,7.275,1.671   c2.75,2.75,2.75,7.206,0,9.958c-2.752,2.751-7.208,2.751-9.961,0c-2.068-2.07-2.58-5.11-1.531-7.658l-9.5-9.499v24.997   c0.67,0.332,1.303,0.774,1.861,1.332c2.75,2.75,2.75,7.206,0,9.959c-2.75,2.749-7.209,2.749-9.957,0c-2.75-2.754-2.75-7.21,0-9.959   c0.68-0.679,1.467-1.193,2.307-1.537V36.369c-0.84-0.344-1.625-0.853-2.307-1.537c-2.083-2.082-2.584-5.14-1.516-7.698   L31.798,16.715L4.288,44.222c-2.311,2.313-2.311,6.06,0,8.371l40.121,40.118c2.31,2.311,6.056,2.311,8.369,0L92.71,52.779   C95.021,50.468,95.021,46.719,92.71,44.408z"/>
                  </svg>
                </button>
                <%if(proj.linkWeb != ''){%>
                  <button type="button" id="webButton" class="btn-sm btn-outline-secondary px-3 text-center greybutton but-stl" value="<%- proj.linkWeb%>">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 24 24">
                        <path fill="#282828" d="M16.36,14C16.44,13.34 16.5,12.68 16.5,12C16.5,11.32 16.44,10.66 16.36,10H19.74C19.9,10.64 20,11.31 20,12C20,12.69 19.9,13.36 19.74,14M14.59,19.56C15.19,18.45 15.65,17.25 15.97,16H18.92C17.96,17.65 16.43,18.93 14.59,19.56M14.34,14H9.66C9.56,13.34 9.5,12.68 9.5,12C9.5,11.32 9.56,10.65 9.66,10H14.34C14.43,10.65 14.5,11.32 14.5,12C14.5,12.68 14.43,13.34 14.34,14M12,19.96C11.17,18.76 10.5,17.43 10.09,16H13.91C13.5,17.43 12.83,18.76 12,19.96M8,8H5.08C6.03,6.34 7.57,5.06 9.4,4.44C8.8,5.55 8.35,6.75 8,8M5.08,16H8C8.35,17.25 8.8,18.45 9.4,19.56C7.57,18.93 6.03,17.65 5.08,16M4.26,14C4.1,13.36 4,12.69 4,12C4,11.31 4.1,10.64 4.26,10H7.64C7.56,10.66 7.5,11.32 7.5,12C7.5,12.68 7.56,13.34 7.64,14M12,4.03C12.83,5.23 13.5,6.57 13.91,8H10.09C10.5,6.57 11.17,5.23 12,4.03M18.92,8H15.97C15.65,6.75 15.19,5.55 14.59,4.44C16.43,5.07 17.96,6.34 18.92,8M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
                    </svg>
                  </button>
                <%}%>
                <%if(owner){%>
                  <form class="form-stl" method="get" action="/editProject/<%= proj._id%>">
                    <button type="submit" class="btn-sm btn-outline-secondary px-3 text-center greybutton but-stl">
                      <svg class="bi bi-pencil" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                        <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                      </svg>
                    </button>
                  </form>
                  <button type="button" id="deleteButton" class="btn-sm btn-outline-secondary px-3 text-center but-stl" data-toggle="modal" data-target="#deleteModal">
                    <svg class="bi bi-trash" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="#282828" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </button>
                <%}%>
              </div>
            </div>
          </div>
          <div class="card-body">
            <%- proj.descBig %>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col text-left">
                <%= strings['infoProj']['compartit_per'][lang] %>: <a class="hiperlinkUsername" href="/userProfile/<%= proj.creator%>"><%= proj.creator%></a>
              </div>
              <div class="col text-right">
                <%= proj.date.getDate() %>/<%= proj.date.getMonth()+1 %>/<%= proj.date.getFullYear() %>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <h5><%= strings['infoProj']['comentaris'][lang] %></h5>
        <form id="addComment" action="/addComment/<%= proj._id %>" method="POST">
          <label for="inputDesc" class="col col-form-label"><%= strings['infoProj']['afegeix_comentari'][lang] %>:</label>
          <div class="col">
            <textarea id="inputDesc" rows="3" class="form-control" name="desc" required></textarea>
            <button type="submit" class="btn btn-primary btn-block"><%= strings['afegir']['afegir_proj'][lang] %></button>
          </div>
        </form>
        <div class="card mt-3 shadow-sm">
          <ul id="list-comments" class="list-group list-group-flush">
            <%if(comment.length != 0){%>
              <% for(var i=0; i<comment.length; i++) {%>
                <li class="list-group-item my-1">
                  <div class="row">
                    <div class="col-auto mr-auto">
                    <strong><a class="hiperlinkUsername" href="/userProfile/<%= comment[i].creator%>"><%= comment[i].creator%>:</a></strong>
                    </div>
                    <div class="col-auto text-muted">
                      <%= comment[i].date.getDate() %>/<%= comment[i].date.getMonth()+1 %>/<%= comment[i].date.getFullYear() %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <%= comment[i].body %>
                    </div>
                  </div>
                </li>
              <% } %>
            <% } else {%>
              <div id="empty-comments" class="card-body text-center">
                <%= strings['infoProj']['sense_comentaris'][lang] %>
              </div>
            <% } %>
          </ul>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel"><%= strings['infoProj']['eliminar_proj'][lang] %></h5>
        </div>
        <div class="modal-body">
          <%= strings['infoProj']['eliminar_proj_msg'][lang] %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= strings['general']['cancel'][lang] %></button>
          <form method="POST" action="/deleteProject/<%= proj._id%>">
            <button type="submit" class="btn btn-danger"><%= strings['general']['eliminar'][lang] %></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include ('../partials/footer') -%>
</body>
</html>
