<div class="row">
  <div class="col-auto mr-auto">
    <%if(data.length==0){%>
      <h5><%= strings['cerca']['trobats'][lang] %>: 0</h5>
    <%} else {%>
    <h5><%= strings['cerca']['trobats'][lang] %>: <%= data.length %></h5>
    <%}%>
  </div>
  <p id="term" hidden><%= term %></p>
  <div class="col-auto">
    <button class="btn btn-secondary dropdown-toggle py-0" type="button" id="sortButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= strings['cerca']['ordenat'][lang] %>: <%= strings['cerca'][sortBy][lang] %>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortButton">
      <a class="dropdown-item <%= (sortBy == 'millor_res') ? 'active':'' %>" id="bestResult"><%= strings['cerca']['millor_res'][lang] %></a>
      <a class="dropdown-item <%= (sortBy == 'millor_val') ? 'active':'' %>" id="mostRated"><%= strings['cerca']['millor_val'][lang] %></a>
      <a class="dropdown-item <%= (sortBy == 'menys_val') ? 'active':'' %>" id="leastRated"><%= strings['cerca']['menys_val'][lang] %></a>
      <a class="dropdown-item <%= (sortBy == 'recent_act') ? 'active':'' %>" id="recentlyUpdated"><%= strings['cerca']['recent_act'][lang] %></a>
      <a class="dropdown-item <%= (sortBy == 'menys_act') ? 'active':'' %>" id="leastRecentlyUpdated"><%= strings['cerca']['menys_act'][lang] %></a>
    </div>
  </div>
</div>
<div id="results">
  <%if(data.length==0){%>
    <div class="card mb-4 shadow-sm">
      <div class="card-body text-center">
        <%= strings['cerca']['cerca_no_trobat'][lang] %>
      </div>
    </div>
  <%} else {%>
    <% for(var i=0; i<data.length; i++) {%>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <div class="row">
            <div class="col-9">
              <h5><a href="/projects/<%= data[i].id%>"><%= data[i].title%></a></h5>
            </div>
            <div class="col-3">
                <div class="col-auto">
                  <%if(rated.includes(data[i]._id)){%>
                  <form method="POST" class="rateForm" id="rateForm_<%= data[i]._id%>" action="/unrateProj/<%= data[i]._id%>">
                    <div class="input-group input-group-sm">
                      <div id="rateSVG_<%= data[i]._id%>" class="input-group-prepend">
                        <button class="btn btn-outline-secondary greybutton" type="submit">
                          <svg class="bi bi-star-fill" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="#ffe44d" xmlns="http://www.w3.org/2000/svg">
                            <path stroke="black" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                        </button>
                      </div>
                      <input type="text" class="form-control text-center" id="pointField_<%= data[i]._id%>" value="<%= data[i].numRates%>" readonly>
                    </div>
                  </form>
                  <%} else {%>
                    <form method="POST" class="rateForm" id="rateForm_<%= data[i]._id%>" action="/rateProj/<%= data[i]._id%>">
                      <div class="input-group input-group-sm">
                        <div id="rateSVG_<%= data[i]._id%>" class="input-group-prepend">
                          <button class="btn btn-outline-secondary greybutton" type="submit">
                            <svg class="bi bi-star-fill" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="#000000" xmlns="http://www.w3.org/2000/svg">
                              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                          </button>
                        </div>
                        <input type="text" class="form-control text-center" id="pointField_<%= data[i]._id%>" value="<%= data[i].numRates%>" readonly>
                      </div>
                    </form>
                  <%}%>
                </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col cos">
              <p class="more"><%- data[i].descBig %></p>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <a href="/projects/<%= data[i].id%>"><small><%= strings['explora']['saber_mes'][lang] %></small></a>
            </div>
          </div>
          <div class="row mt-3 mb-n2">
            <div class="btn-group d-flex align-content-start flex-wrap" role="group" aria-label="First group">
              <% for(var j=0; j<data[i].tags.length; j++) {%>
                <button type="button" class="btn-sm btn-info mr-2 mb-1 py-0 tag-style"><%= data[i].tags[j]%></button>
              <% } %>
            </div>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="text-right">
              <h6><small class="text-muted"> <%= data[i].date.getDate() %>/<%= data[i].date.getMonth()+1 %>/<%= data[i].date.getFullYear() %> </small></h6>
            </div>
          </li>
        </ul>
      </div>
    <% } %>
  <%}%>
</div>
<nav aria-label="Page navigation example">
  <ul id="pagUl" class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="/search?search=<%= term %>&p=<%= page.prev %>"><%= strings['general']['anterior'][lang] %></a></li>
    <%if(page.total<=10){%>
      <% for(var j=1; j<=page.total; j++) {%>
        <%if(j == page.actual){%>
          <li class="page-item active" aria-current="page"><a class="page-link" href="/search?search=<%= term %>&p=<%= j %>"><%= j %></a></li>
        <% } else {%>
          <li class="page-item"><a class="page-link" href="/search?search=<%= term %>&p=<%= j %>"><%= j %></a></li>
        <% } %>
      <% } %>
    <% } else {%>
      <%if(page.actual<=5){%>
        <% for(var j=1; j<=5; j++) {%>
          <%if(j == page.actual){%>
            <li class="page-item active" aria-current="page"><a class="page-link" href="/search?search=<%= term %>&p=<%= j %>"><%= j %></a></li>
          <% } else {%>
            <li class="page-item"><a class="page-link" href="/search?search=<%= term %>&p=<%= j %>"><%= j %></a></li>
          <% } %>
        <% } %>
        <%if(page.actual==5){%>
          <li class="page-item"><a class="page-link" href="/search?search=<%= term %>&p=6"><%= 6 %></a></li>
          <li class="page-item"><a class="page-link" href="/search?search=<%= term %>&p=7"><%= 7 %></a></li>
        <% } %>
      <% } else if(page.actual>=7 && (page.total-page.actual)>5){%>
        <li class="page-item"><a class="page-link" href="/search?search=<%= term %>&p=1">1</a></li>
        <li class="page-item"><a class="page-link" href="/search?search=<%= term %>&p=2">2</a></li>
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a></li>
        <% for(var j=page.actual-2; j<=page.actual+2; j++) {%>
          <%if(j == page.actual){%>
            <li class="page-item active" aria-current="page"><a class="page-link" href="/search?search=<%= term %>&p=<%= j %>"><%= j %></a></li>
          <% } else {%>
            <li class="page-item"><a class="page-link" href="/search?search=<%= term %>&p=<%= j %>"><%= j %></a></li>
          <% } %>
        <% } %>
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a></li>
        <li class="page-item"><a class="page-link" href="/search?search=<%= term %>&p=<%= page.total-1 %>"><%= page.total-1 %></a></li>
        <li class="page-item"><a class="page-link" href="/search?search=<%= term %>&p=<%= page.total %>"><%= page.total %></a></li>
      <% } else if((page.total-page.actual)<=5){%>
        <li class="page-item"><a class="page-link" href="/search?search=<%= term %>&p=1">1</a></li>
        <li class="page-item"><a class="page-link" href="/search?search=<%= term %>&p=2">2</a></li>
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a></li>
        <%if(page.total-(page.actual-1)==6){%>
          <li class="page-item"><a class="page-link" href="/search?search=<%= term %>&p=<%= page.actual-1 %>"><%= page.actual-1 %></a></li>
        <% } %>
        <% for(var j=page.total-5; j<=page.total; j++) {%>
          <%if(j == page.actual){%>
            <li class="page-item active" aria-current="page"><a class="page-link" href="/search?search=<%= term %>&p=<%= j %>"><%= j %></a></li>
          <% } else {%>
            <li class="page-item"><a class="page-link" href="/search?search=<%= term %>&p=<%= j %>"><%= j %></a></li>
          <% } %>
        <% } %>
      <% } %>
    <% } %>
    <li class="page-item"><a class="page-link" href="/search?search=<%= term %>&p=<%= page.next %>"><%= strings['general']['next'][lang] %></a></li>
  </ul>
</nav>
